In [2]:
import pandas as pd
from word2number import w2n
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor

In [3]:
data=pd.read_csv("hiring.csv")
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [4]:
data["test_score(out of 10)"]=data["test_score(out of 10)"].fillna(data["test_score(out of 10)"].mean())

In [5]:
data["experience"]=data["experience"].fillna("zero")

In [6]:
data["experience"]=data["experience"].apply(w2n.word_to_num)

In [7]:
x=data.drop("salary($)",axis=1)
y=data["salary($)"]

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=8)

In [9]:
#pip install xgboost

In [10]:
#max_leaves :  max_bin : grow_policy :

In [12]:
xgb=XGBRegressor( max_depth = 5, alpha = 10, n_estimators = 100)
xgb.fit(x_train,y_train)

XGBRegressor(alpha=10, base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=5, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, ...)

In [13]:
xgb.score(x_test,y_test)

0.7437507843626234