In [38]:
import pandas as pd
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [39]:
data=pd.read_csv("titanic.csv")
data.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [40]:
data["Age"]=data["Age"].fillna(data["Age"].mean())

In [41]:
data=data.drop(["Name","PassengerId","Ticket","Fare","Cabin"],axis=1)
data=data.drop("Embarked",axis=1)

In [42]:
la=LabelEncoder()
data["Sex"]=la.fit_transform(data["Sex"])

In [43]:
x=data.drop("Survived",axis=1)
y=data.Survived

In [44]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=23)

In [45]:
adaboost=GradientBoostingClassifier(n_estimators=43,
                             learning_rate=0.3,random_state=34)

In [46]:
adaboost.fit(x_train,y_train)
adaboost.score(x_test,y_test)

0.8212290502793296

In [47]:
data.isna().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Survived    0
dtype: int64

##### wine dataset

In [50]:
import pandas as pd
from sklearn.datasets import load_wine
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split

In [51]:
wine=load_wine()

In [52]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [54]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [53]:
x=wine.data
y=wine.target

In [58]:
model=GradientBoostingClassifier()

In [60]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=34)

In [61]:
model.fit(x_train,y_train)

GradientBoostingClassifier()

In [62]:
model.score(x_test,y_test)

0.9166666666666666

In [63]:
y_pred=model.predict(x_test)

In [65]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[12,  1,  0],
       [ 1, 13,  0],
       [ 0,  1,  8]], dtype=int64)