In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
#continues values in feature

In [2]:
data=pd.read_csv("titanic.csv")
data.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

pclass: passenger ticket class 1 = 1st, 2 = 2nd, 3 = 3rd
•	sibsp: No: of siblings / spouses aboard the Titanic 
•	parch: No: of parents / children aboard the Titanic
•	ticket: Ticket number
•	cabin: Cabin number 
•	embarked: Port of Embarkation C = Cherbourg, Q = Queenstown, S = Southampton
•	survived: - Survival (0 = No; 1 = Yes)

In [3]:
data=data.drop(["Name","PassengerId","Fare","Ticket","Cabin","Embarked"],axis=1)

In [4]:
data.dtypes

Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Survived      int64
dtype: object

In [5]:
LA_s=LabelEncoder()
data["Sex"]=LA_s.fit_transform(data["Sex"])

In [6]:
data.isna().sum()

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Survived      0
dtype: int64

In [7]:
data["Age"]=data["Age"].fillna(data["Age"].mean())

In [8]:
data.dtypes

Pclass        int64
Sex           int32
Age         float64
SibSp         int64
Parch         int64
Survived      int64
dtype: object

In [9]:
x=data.drop("Survived",axis=1)
y=data["Survived"]

In [10]:
model=GaussianNB()

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=98)

In [12]:
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.7399103139013453