In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.tree import DecisionTreeRegressor
from word2number import w2n

ModuleNotFoundError: No module named 'word2number'

In [5]:
data=pd.read_csv("hiring.csv")
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [6]:
data.experience=data.experience.fillna("zero")
avg=data["test_score(out of 10)"].mean()

In [7]:
import math
math.floor(avg)

7

In [8]:
data["test_score(out of 10)"]=data["test_score(out of 10)"].fillna(7)

In [ ]:
data["experience"]=data["experience"].apply(w2n.word_to_num)

In [ ]:
x=data.drop("salary($)",axis=1)
y=data["salary($)"]

In [ ]:
model=DecisionTreeRegressor()
model.fit(x,y)

In [ ]:
model.score(x,y)

In [ ]:
#model.predict([])